.section {
  background-size: cover;

  .section-wrapper {
    display: flex;
    justify-content: space-between;
    height: 100%;

    & > div {
      height: 100%;
      display: flex;
      align-items: flex-end;
      width: 100%;

      .screen-overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: transparent linear-gradient(0deg, #000000a8 0%, #54545400 100%) 0% 0% no-repeat padding-box;
        z-index: 0;
      }

      .screen-inner {
        width: 100%;
        padding: 0 0 65px 125px;
        z-index: 0;
      }
    }
  }

  &.first-screen {
    .left-screen {
      position: absolute;
      left: 0;
      background-color: #000;
      clip-path: polygon(0 0, 76% 0, 100% 100%, 0 100%);
      z-index: 1;
      width: 55%;
      background-position: right;
      transition: width 0.3s ease-in;

      .screen-inner {
        width: 100%;
        padding: 0 0 125px 125px;
      }

    }

    .right-screen {
      position: absolute;
      right: 0;
      background-color: #ddd;
      width: 59%;
      z-index: 0;
      transition: width 0.3s ease-in;

      .screen-inner {
        width: 100%;
        padding: 0 0 125px 25%;
      }

    }
  }

  &.scroll-section {
    h2 {
      max-width: 720px;
      line-height: 1.1;

      span {
        display: block;
        color: $main;
      }

    }

    .section-description {
      max-width: 877px;
    }

    .btn {
      padding-right: 55px;
      padding-left: 55px;
    }

  }

  &.details-section {

    .section-wrapper > div {
      .screen-inner {
        padding: 0 0 250px 125px;
      }

      .screen-overlay {
        background: transparent linear-gradient(180deg, #4A4A4A00 0%, #4A4A4A 100%) 0% 0% no-repeat padding-box;
      }
    }

    h2 {
      max-width: 1000px;
      line-height: 1.1;

      span {
        display: block;
        color: $main;
      }

    }

  }

}

.section-details-content {
  padding: 0 0 250px 125px;
  font-size: 22px;
  background-image: url(./img/synapse-cluster.svg);
  max-height: 100%;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -250px;
  position: relative;

  .content-wrap {
    max-width: 1357px;

    @media screen and (max-width: 1860px) {
      max-width: calc(100% - 400px);
    }

  }

  .content-cpt-list {
    display: flex;
    max-width: 1600px;
    margin-top: 170px;

    @media screen and (max-width: 1860px) {
      max-width: calc(100% - 400px);
    }

    @media screen and (max-width: 1440px) {
      display: block;
    }
  }

  .content-cpt-column {
    width: calc(50% - 150px);
    margin-right: 150px;

    @media screen and (max-width: 1860px) {
      width: calc(50% - 50px);
      margin-right: 50px;
    }

    @media screen and (max-width: 1440px) {
      width: 100%;
      margin-right: 0;
    }

    h4 {
      margin-bottom: 50px;
    }

    .candidate-item {
      display: flex;
      justify-content: space-between;
      padding-right: 95px;
      margin-bottom: 45px;

      @media screen and (max-width: 1860px) {
        padding-right: 0;
      }

      .candidate-item__left {
        width: 200px;
        height: 200px;

        @media screen and (max-width: 1600px) {
          width: 150px;
          height: 150px;
        }

        @media screen and (max-width: 1440px) {
          width: 200px;
          height: 200px;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      .candidate-item__right {
        width: calc(100% - 240px);
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: space-between;

        @media screen and (max-width: 1600px) {
          width: calc(100% - 180px);
        }

        @media screen and (max-width: 1440px) {
          width: calc(100% - 240px);
        }

        p {
          margin-bottom: 0;
        }

        .btn {
          margin-top: 3px;
        }
      }
    }

    .candidate-content {
      display: flex;
      justify-content: space-between;

      &__left {
        max-width: 685px;

        @media screen and (max-width: 1700px) {
          max-width: 485px;
        }

        img {
          width: 100%;
        }
      }

      &__right {
        max-width: calc(100% - 800px);

        @media screen and (max-width: 1700px) {
          max-width: calc(100% - 530px);
        }

        h5 {
          margin-bottom: 30px;
        }
      }
    }

    .candidate-navigation {
      text-align: center;
      margin-top: 180px;

      a {
        margin: 0 137px;
        padding: 10px 70px 8px;
      }
    }

  }

}

.blog-items {
  width: 100%;
}

.blog-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;

  &__left {
    width: 350px;
  }

  &__right {
    width: calc(100% - 410px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;

    .btn {
      top: -4px;
      position: relative;
    }
  }

}
