.footer-section {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 34px;
  display: flex;
  align-items: center;
  z-index: 1;

  #footer-toggle {
    background: $main url(./img/left-chevron.svg) center center no-repeat;
    background-size: 16px;
    width: 68px;
    height: 100%;
    cursor: pointer;
    z-index: 1;
  }

  .footer-menu {
    background-color: $white;
    color: $dark;
    width: calc(100% - 68px);
    transform: translateX(calc(-100% - 68px));
    transition: transform 0.3s ease-in-out;

    &.active {

      transform: translateX(0);
    }

    a {
      color: $dark;
      display: inline-block;
      padding: 8px 0 8px 30px;
      font-size: 14px;

      &:hover,
      &:active {
        color: $main;
      }
    }

    .footer-lang {
      padding-right: 55px;

      a {
        padding: 8px 5px;
      }
    }
  }

}