a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;

  &:hover {
    opacity: 0.7;
  }
}

a:hover, a:focus {
  color: inherit;
  text-decoration: none;
}

.hr {
  border: none;
  height: 2px;
  background: $main;
  margin-bottom: 50px;
  margin-top: 20px;
  position: relative;

  &:before {
    content: '';
    background-image: url(./img/border-pin.svg);
    position: absolute;
    width: 36px;
    height: 36px;
    background-size: cover;
    background-position: center;
    top: -17px;
    left: 80px;
  }
}

.btn {
  font-size: 14px;
  display: inline-block;
  padding: 10px 20px 8px 20px;
  color: #fff;
  background-color: $main;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  font-family: 'Myriad Pro';
  font-weight: normal;

  &.dark {
    background-color: $dark;
  }
}

.btn:hover {
  color: #fff;
  opacity: 0.7;
}

.section {
  height: 100vh;
  position: relative;
}

#preloader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: $dark;

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 580px;
  }
}

.general-menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: $main;
  display: none;

  &__top {
    position: relative;
    height: calc(100% - 117px);

    .hamburger {
      position: relative;
      top: 49px;
      left: 41px;
    }

    &-menu {
      position: absolute;
      left: 138px;
      top: 50%;
      transform: translateY(-50%);

        a {
          color: $dark;
          display: block;
          transition: 0.2s ease-in-out;
          font-size: 64px;
          line-height: 80px;
          position: relative;

          &:hover,
          &.active {
            color: $white;
          }

          &.active:after {
            content: '';
            background-image: url(./img/menu-active.svg);
            background-size: contain;
            width: 75px;
            height: 42px;
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            top: 50%;
            right: -110px;
            transform: translateY(-50%);
          }
        }


      .language-switcher {
        color: $dark;
        transition: 0.2s ease-in-out;
        font-size: 64px;
        line-height: 70px;

        a {
          color: $dark;
          display: inline-block;
          transition: 0.2s ease-in-out;
          font-size: 64px;
          line-height: 70px;

          &:hover,
          &.active {
            color: $white;
          }

          &:first-child:after {
            content: '';
          }
        }

      }

    }

  }

  &__bottom {
    height: 117px;
    padding: 0 138px;

      a {
        display: inline-block;
        margin-right: 80px;
        color: $dark;
        transition: 0.2s ease-in-out;
        font-size: 32px;

        &:hover,
        &.active {
          color: $white;
        }
      }

  }
}

.modal-page {
  display: none;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $dark;
  z-index: 1001;
  background-image: url(./img/synapse-cluster.svg);
  overflow-y: scroll;
  max-height: 100%;
  background-position: left bottom;
  background-repeat: no-repeat;
  background-attachment: local;

  &__heading {
    padding-top: 80px;
    padding-left: 123px;
  }

  &__body {
    max-width: 1370px;
    margin-bottom: 500px;
    padding-left: 123px;

    h4 {
      margin-top: 80px;
      margin-bottom: 30px;
    }

    .btn {
      margin-bottom: 50px;
      padding: 10px 40px 8px 40px;
    }
  }

  .hamburger-close {
    position: absolute;
    top: 62px;
    right: 62px;
  }

}

.section-menu {
  position: fixed;
  right: 42px;
  bottom: 320px;
  text-align: right;

  li {
    list-style: none;
    a {
      display: inline-block;
      font-size: 32px;
      line-height: 50px;
      color: $white;
      position: relative;
    }

    &:hover,
    &.active {
      a {
        color: $main;
      }
    }

    &.active {
      a:before {
        content: '';
        background-image: url(./img/border-pin.svg);
        position: absolute;
        width: 60px;
        height: 36px;
        background-size: cover;
        background-position: center;
        top: 50%;
        transform: translateY(-50%);
        left: -90px;
      }
    }
  }
}

.candidate-modal {
  min-height: 100%;
  background-size: cover;
  background-position: left top;

  .modal-page__body {
    margin: 0;
    max-width: 100%;
    padding-right: 123px;
  }

}

