.content {
  padding-left: 100px;
  padding-right: 100px;
  max-width: 1920px;
  margin: 0 auto;
}

.content-home {
  padding-left: 100px;
  padding-right: 240px;
  max-width: 1920px;
  margin: 0 auto;
}

.content-medium {
  padding-left: 200px;
  padding-right: 200px;
  max-width: 1920px;
  margin: 0 auto;
}

.content-170 {
  padding-left: 170px;
  padding-right: 170px;
  max-width: 1920px;
  margin: 0 auto;
}

.content-240 {
  padding-left: 240px;
  padding-right: 240px;
  max-width: 1920px;
  margin: 0 auto;
}

.content-less {
  padding-left: 19%;
  padding-right: 15%;
  max-width: 1920px;
  margin: 0 auto;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex-align {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

@media (max-width: $screen-xl) {
  .content, .content-medium, .content-240, .content-170, .content-home {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: $screen-lg) {
  .content, .content-medium, .content-240, .content-170, .content-home {
    padding-left: 15px;
    padding-right: 15px;
  }

  .content-less {
    padding-left: 30px;
    padding-right: 30px;
  }
}