header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;

  .header-wrap {
    padding: 49px 75px 5px 41px;
    align-items: flex-start;
  }

  .custom-logo-link {
    width: 220px;
    display: block;
    margin-top: 20px;
  }

}