* {
  margin: 0;
  outline: none;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  font-family: 'PT Sans';
  font-weight: normal;
  color: $white;
  background-color: $dark;

  &.popup-active {
    overflow: hidden;
  }

}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  line-height: 1.5;
  font-weight: 500;
}

ol {
  padding-left: 25px;
}

p {
  font-family: $body_font;
  margin-bottom: 30px;
  font-size: 22px;
  font-weight: normal;
  line-height: 28px;
  letter-spacing: 0;
  @include adaptive-font-size(1920, 400, 22, 16, true);
}

h1 {
  font-size: 120px;
  font-family: $body_font;
  line-height: 1;
  font-weight: bold;
  letter-spacing: 0;
  margin: 0 0 20px;
  @include adaptive-font-size(1920, 400, 120, 50, true);

  &.entry-title {
    display: inline-block;
    margin-bottom: 60px;
    font-weight: bold;
  }

  &.page-title {
    margin-bottom: 60px;
  }
}

h2 {
  font-family: $body_font;
  font-weight: bold;
  font-size: 80px;
  letter-spacing: 0;

  @include adaptive-font-size(1920, 400, 80, 40, true);
}

h3 {
  font-family: 'Myriad Pro';
  font-size: 44px;
  @include adaptive-font-size(1920, 400, 44, 24, true);
}

h4 {
  font-family: $body_font;
  font-size: 32px;
  letter-spacing: 0;
  @include adaptive-font-size(1920, 400, 32, 15, true);
}

h5 {
  font-family: $body_font;
  font-size: 22px;
  letter-spacing: 0;
  @include adaptive-font-size(1920, 400, 22, 14, true);
}

.bold {
  font-weight: bold;
}

.thin {
  font-weight: 300;
}

.uppercase {
  text-transform: uppercase;
}

span.yellow {
  color: $main;
}