$body_font: 'PT Sans', sans-serif;
$size__spacing-unit: 1rem;

$main: #BE9F57;
$dark: #4A4A4A;
$white: #fff;


$screen-sm: 480px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$screen-sm-min: 481px;
$screen-md-min: 769px;
$screen-lg-min: 993px;
$screen-xl-min: 1201px;